body{
    margin: 0;
}
li{
    list-style: none;
}
#container{
    margin:0%;
    margin-top: 0%;
    background-color: white;
    position: relative;
}
#criterii{
    display: flex;
    background-color: bisque;
    margin: 1%;
    justify-content: space-evenly;
    flex-wrap: wrap;
    
}
.hidden_zone{
    height: 250px;
    background-color: rgb(114, 97, 131);
    margin: 1%;
    position: relative;
}
#judete{
    background-color: blueviolet;
}
#studii{
  background-color: blue;
}
#mediu{
  background-color: royalblue;
}
#varsta{
  background-color: cadetblue;
}
#luni{
  background-color: coral;
}
.charts{
  display: flex;
  height: 500px;
  background-color: rgb(79, 83, 22);
  margin: 1%;
  align-items: center;
  justify-content: center;
}
#mainPie{
    background-color: rgb(252, 255, 208);
}
#mainLine{
  background-color: rgb(4, 255, 208);
}
#mainBar{
  background-color: rgb(252, 6, 208);
}
#grafice{
  display: flex;
  background-color: bisque;
  margin: 1%;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.button1{
  position: relative;
  top:25px;
  margin: auto;

}
.btn1{
    background-color: rgb(214, 202, 226);
    width: 150px;
    height: 100px;
    margin: 1%;;
    position: relative;

}
.btn2{
  background-color: rgb(214, 202, 226);
  width: 150px;
  height: 100px;
  margin: 1%;;
  position: relative;
}

.btn4{
  background-color: rgb(214, 202, 226);
  width: 150px;
  height: 100px;
  margin: 1%;;
  position: relative;

}
.button1{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 8% 15%;
    text-decoration: none;
    display: block;
    font-size: 16px;
    margin-top: 15px;
    margin:auto;
    position: relative;
    top: 20%;
    transition-duration: 0.4s;
    border-radius: 12px;
}
.button1:hover {
    background-color: red; /* Green */
    color: white;
  }

  .dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1;}
  .dropdown:hover .dropdown-content {display: block;}
  .dropdown:hover .dropbtn {background-color: #3e8e41;}

  /*.custom-select {
    position: relative;
    font-family: Arial;
  }
  
  .custom-select select {
    background-color: #4CAF50;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;

  }
  
  .select-selected {
    background-color: DodgerBlue;
  }
  
  /*stilizam sageata din interiorul dropdown-ului
  .select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
  }
  */
  /*indreptam sageata spre sus cand este activa:
  .select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 7px;
  }
  */
  /*optiunile din dropdown:
  .select-items div,.select-selected {
    color: #ffffff;
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
    user-select: none;
  }*/
  
  /*style items (options):
  .select-items {
    position: absolute;
    background-color: DodgerBlue;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
  }
  */
  /*ascundem elementele cand inchidem
  .select-hide {
    display: none;
  }
  
  .select-items div:hover, .same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
  }
  */