body{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 1%;
}
#container{
    margin:0%;
    margin-top: 0%;
    background-color: #ffebd9;
    position: relative;
}
#criterii{
    display: flex;
    background-color: #ffebd9;
    margin: 1%;
    justify-content: space-evenly;
    flex-wrap: wrap;
    border-radius: 15px;
    
}
.hidden_zone{
    height: 250px;
    background-color: rgb(114, 97, 131);
    margin: 1%;
    position: relative;
    display: none;
}
#judete{
    background-color: #ecfbfc;
}
#studii{
  background-color: #ecfbfc;
}
#mediu{
  background-color: #ecfbfc;
}
#varsta{
  background-color: #ecfbfc;
}
#luni{
  background-color: #ecfbfc;
}
.charts{
  display: flex;
  background-color: #ecfbfc;
  margin: 1%;
  display: none;
}
#mainFirst{
  display: flex;
  background-color: #ecfbfc);
  height: 60vh;
  align-items: center;
  justify-content: center;
}
#textHolder{
  font-size: 3vw;
}
#mainPie{
    background-color: rgb(252, 255, 208);
}
#mainLine{
  background-color: rgb(4, 255, 208);
}
#mainBar{
  background-color: rgb(252, 6, 208);
}
#mainMap{
  background-color: rgb(42, 6, 208);
}
.chartType{
  width:70vw;
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
  min-width: 300px;
}
#grafice{
  display: flex;
  background-color: #ffebd9;
  margin: 1%;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
/* ##### Zona pentru div-urile ce contin butoane ################# */

.btn1{
    background-color:#ffebd9;
    width: 10vw;
    min-width: 90px;
    height: 5vh;
    min-height: 60px;
    margin: 0.5%;
    position: relative;
    border-radius: 20px;
}

.btn2{
  background-color: rgb(214, 202, 226);
  width: 150px;
  height: 100px;
  margin: 0.5%;
  position: relative;
}

.btn4{
  background-color: );
  width: 10vw;
  min-width: 120px;
  height: 5vh;
  min-height: 70px;
  position: relative;

}

.buton-div-judete{
  background-color: magenta;
  width: 10vw;
  min-width: 100px;
  height: 6vh;
  min-height: 65px;
  position: relative;
  margin: 0.5%;
  float: left;
}

/* ##### Zona pentru butoane ################# */

.button1{
  position: relative;
  top:25px;
  margin: auto;

}

.testbutton {
  font-family: 'arial black';
  color: #F2F2F2 !important;
  font-size: 17px;
  text-shadow: 1px 1px 1px #284027;
  box-shadow: 1px 1px 1px #ffc8bd;
  padding: 10px 25px;
  -moz-border-radius: 14px;
  -webkit-border-radius: 14px;
  border-radius: 14px;
  border: 1px solid #FFC8BD;
  background: #9BEE9D;
  background: linear-gradient(top,  #FFC8BD,  #A38079);
  background: -ms-linear-gradient(top,  #FFC8BD,  #A38079);
  background: -webkit-gradient(linear, left top, left bottom, from(#FFC8BD), to(#A38079));
  background: -moz-linear-gradient(top,  #FFC8BD,  #A38079);
  position: relative;
  padding: 8% 15%;
    text-decoration: none;
    display: block;
    font-size: 16px;
    margin-top: 15px;
    margin:auto;
    position: relative;
    top: 4%;
    transition-duration: 0.4s;
    border-radius: 12px;

}
.testbutton:hover {
  
  color: #F2F5F5 !important;
  background: #468CCF;
  background: linear-gradient(top,  #FFC8BD,  #D6A89F);
  background: -ms-linear-gradient(top,  #FFC8BD,  #D6A89F);
  background: -webkit-gradient(linear, left top, left bottom, from(#FFC8BD), to(#D6A89F));
  background: -moz-linear-gradient(top,  #FFC8BD,  #D6A89F);
}


.button1{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 8% 15%;
    text-decoration: none;
    display: block;
    font-size: 16px;
    margin-top: 15px;
    margin:auto;
    position: relative;
    top: 20%;
    transition-duration: 0.4s;
    border-radius: 12px;
}

.buton-judete{
  background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 8% 15%;
    text-decoration: none;
    display: block;
    font-size: 1rem;
    margin-top: 15px;
    margin:auto;
    position: relative;
    top: 20%;
    transition-duration: 0.4s;
    border-radius: 12px;
}
.button1:hover {
    background-color: red; /* Green */
    color: white;
  }

  .dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1;}
  .dropdown:hover .dropdown-content {display: block;}
  .dropdown:hover .dropbtn {background-color: #3e8e41;}

  /*.custom-select {
    position: relative;
    font-family: Arial;
  }
  
  .custom-select select {
    background-color: #4CAF50;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;

  }
  
  .select-selected {
    background-color: DodgerBlue;
  }
  
  /*stilizam sageata din interiorul dropdown-ului
  .select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
  }
  */
  /*indreptam sageata spre sus cand este activa:
  .select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 7px;
  }
  */
  /*optiunile din dropdown:
  .select-items div,.select-selected {
    color: #ffffff;
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
    user-select: none;
  }*/
  
  /*style items (options):
  .select-items {
    position: absolute;
    background-color: DodgerBlue;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
  }
  */
  /*ascundem elementele cand inchidem
  .select-hide {
    display: none;
  }
  
  .select-items div:hover, .same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
  }
  */